*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

html{
    font-family: 'Nunito', sans-serif;
}
/* Header css */

header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-header{
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-bottom: 150px;
}

header figure img{
    display: block;
    
}

nav > ul, div.accedi{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}

nav > ul{
    color: white;
}

.accedi, .download{
    background-color: white;
    border-radius: 50px;
    display: block;
}

.accedi{
    padding: 7px;
}

a{
    text-decoration: none;
}

nav.flex-nav a{
    color: black;
}

nav{
    align-items: center;
    margin-top: 20px;
    margin-inline: 10%;
}

nav>ul{
    list-style-type: none;
}

.flex-nav{
    display: flex;
    justify-content: space-between;
}

.flex-list{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

h1{
    text-align: center;
    color: white;
    font-size: 80px;
}

.flex-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-self: center;
    width: 60%;
    margin: auto;
}

div.flex-title > p{
    color: white;
    font-size: 25px;
    text-align: center;
    
}

.buttons{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-bottom: 10px;

}

.open{
    background-color: #23272A;
    border-radius: 50px;
    font-weight: bold;
}

.open, .download, .download-mac{
    padding: 20px;
}

.download a{
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.open a{
    font-size: 25px;
    color: white;
    font-weight: bold;
}

div.download a::before{
    content: "\2B63";
}






/* Main css */

main{
    background-color: #f6f6f6;
}

main p{
    font-size: 25px;
}

.section-flex{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    width: 60%;
    margin: auto;
}

h2{
    font-size: 50px;
}

div.section-one-text p{
    margin-top: 30px;
}

.section-flex-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: lightgray;
    width: 60%;
    margin: auto;
}

section > h3{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
    font-size: 30px;
}

.chilling-flex{
    display: flex;
    align-items: center;
    padding-block: 100px;
    flex-direction: column;
    gap: 30px;
    width: 60%;
    margin: auto;
    background-color: lightgray;
}

.container-grey{
    background-color: lightgray;
}

.download-mac{
    background-color: #8ea1e1;
    border-radius: 50px;
    font-weight: bold;
}

.download-mac a{
    color: white;
    font-size: 20px;
}

div.download-mac a::before{
    content: "\2B63";
}


/* footer css*/

footer{
    padding-top: 40px;
    background-color: #23272a;
    padding-inline: 10%;
}

.social-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% / 7)
}

div.social-flex h2{
    font-size: 30px;
}

div.language{
    display: flex;
}

div.language figure > img{
    height: 30%;
    display: block;
    margin-right: 5px;
}

div.language figure{
    margin-bottom: -40px;
}





div.social-links-flex > figure svg{
    width: 20px;
    height: 20px;
    fill: white;
}

.social-links-flex{
    display: flex;
    gap: 20px;
}

footer h2, footer h4{
    color: #7289DA;
}

footer span{
    color: white;
}

div.about-flex ul li{
    list-style-type: none;
    margin-block: 10px;
    color: white;
}

.about-flex{
    display: flex;
    gap: 30px;

}

.foot-flex{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    gap: 200px;
    border-bottom: 2px solid #8ea1e1;
    padding-bottom: 40px;
}

.registrati{
    background-color: #8EA1E1;
    align-self: center;
    border-radius: 50px;
    padding: 10px;
}

.registrati a{
    color: white;
    font-weight: bold;
}

.footer-logo-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 80px;
}

ul{
    font-weight: bold;
    padding-top: 5px;
}



/* wave css */

.wave-grey{
    color: lightgray;
    margin-bottom: -10px;
}

.wave-white{
    color: #F6F6F6;
    margin-top: -100px;
}